doctype html
html
  head
    meta(charset='utf-8')
    title #{title} - Meetchu
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    // Stylesheets
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    if title == 'Home'
      link(rel='stylesheet', type='text/css', href='/css/home.css')
    if user
      link(rel='stylesheet', type='text/css', href='/css/sidebar.css')
      link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    else
      link(rel='stylesheet', type='text/css', href='/css/navbar-footer.css')

  body
    if user
      #wrapper
        include includes/sidebar

        #content.container
          include includes/flash
          block content
          .container-full
            a#sidebar-toggle.btn.btn-default(href='#sidebar-toggle') Toggle Sidebar
    else
      if title == 'Home'
        include includes/navbar

        .container
          include includes/flash
          #main
            block content
      else
        include includes/navbar

        #main.container
          include includes/flash
          block content

    // Scripts
    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/bootstrap-toggle.min.js')
    script(src='/js/lib/pace.min.js')
    // Vue.js
    // script(src='/js/lib/vue.js')
    script(src='https://unpkg.com/vue/dist/vue.js')
    script(src='https://unpkg.com/vue-router/dist/vue-router.js')
    script(src='https://unpkg.com/vue-resource@1.2.1/dist/vue-resource.js')
    script(src='/js/lib/keen-ui.min.js')
    script(src='/js/main.js')
    if title == 'Courses'
      // Include AlgoliaSearch JS Client and autocomplete.js libraries
      script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
      script(src='https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js')
      script(src='/js/courses.js')
    else if tag == 'Chat'
      // Include AlgoliaSearch JS Client and jQuery text-complete libraries
      script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.min.js')
      script(src='/js/lib/socket.io.min.js')
      script(id='chat',
        data-group-id=groupId,
        data-message-history=messageHistory, 
        data-sender=sender,
        data-max-messages=maxMessages,
        src='/js/chat.js')
    else if tag == 'Meeting'
      // Include calendar and d3 libraries
      script(src='js/lib/jquery-ui.min.js')
      script(src='/js/lib/calendar.min.js')
      script(src='/js/lib/d3.min.js')
      if title == 'Meetings'
        script(src='/js/meetings.js')
      else
        // Include AlgoliaSearch JS Client and autocomplete.js libraries
        script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.min.js')
        script(src='/js/meeting.js')
